/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import '$lib/scss/fonts.scss';

* {
	font-family: $sans-serif;
}

code > * {
	font-family: $monospace;
}

code {
	font-family: $monospace;
}

a {
	text-decoration: underline $neutral;

	&:hover {
		color: $neutral;
	}
}

:where(h2, h3, h4, h5, h6) {
	.icon-link {
		position: relative;

		&::before {
			content: '#';
			position: absolute;
			left: -1ch;
			top: 0;
			line-height: 1;
			opacity: 0;
			text-decoration: underline;
		}
	}

	&:hover .icon-link::before {
		opacity: 1;
	}
}
