/* Variables and mixins declared here will be available in all other SCSS files */
$primary: #dcc388;
$secondary: #192022;
$accent: #003d96;
$neutral: #b2cce3;
$base100: #dcc388;
$info: #60afff;
$success: #329f5b;
$warning: #bf4e30;
$error: #ff715b;
